<p id="notice"><%= notice %></p>

<p>
  <strong>Namefunction:</strong>
  <%= @function.namefunction %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @function.assignment %>
</p>

<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
