<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sector.description %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @sector.initials %>
</p>

<p>
  <strong>Parentsector:</strong>
  <%= @sector.parentsector %>
</p>

<%= link_to 'Edit', edit_sector_path(@sector) %> |
<%= link_to 'Back', sectors_path %>
