<p id="notice"><%= notice %></p>

<p>
  <strong>Colaborattorname:</strong>
  <%= @colaborattor.colaborattorname %>
</p>

<p>
  <strong>Matriculation:</strong>
  <%= @colaborattor.matriculation %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @colaborattor.admission %>
</p>

<p>
  <strong>Address:</strong>
  <%= @colaborattor.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @colaborattor.zip_code %>
</p>

<p>
  <strong>Homenumber:</strong>
  <%= @colaborattor.homenumber %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @colaborattor.cellphone %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @colaborattor.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @colaborattor.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @colaborattor.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @colaborattor.gender %>
</p>

<p>
  <strong>Identify:</strong>
  <%= @colaborattor.identify %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @colaborattor.cpf %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @colaborattor.instruction %>
</p>

<p>
  <strong>Professionalqualification:</strong>
  <%= @colaborattor.professionalqualification %>
</p>

<p>
  <strong>Classcouncilregistration:</strong>
  <%= @colaborattor.classcouncilregistration %>
</p>

<p>
  <strong>Crm:</strong>
  <%= @colaborattor.crm %>
</p>

<p>
  <strong>Status:</strong>
  <%= @colaborattor.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @colaborattor.notes %>
</p>

<p>
  <strong>Pendecy:</strong>
  <%= @colaborattor.pendecy %>
</p>

<p>
  <strong>Bond:</strong>
  <%= @colaborattor.bond %>
</p>

<p>
  <strong>Daily hour:</strong>
  <%= @colaborattor.daily_hour %>
</p>

<p>
  <strong>Financial:</strong>
  <%= @colaborattor.financial %>
</p>

<p>
  <strong>Function:</strong>
  <%= @colaborattor.function %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @colaborattor.schedule %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @colaborattor.sector %>
</p>

<p>
  <strong>Office:</strong>
  <%= @colaborattor.office %>
</p>

<%= link_to 'Edit', edit_colaborattor_path(@colaborattor) %> |
<%= link_to 'Back', colaborattors_path %>
