<div class="card">
    <div class="card-body">
      <%= form_with(model: user, local: true) do |form| %>
        <% if user.errors.any? %>
          <div class="alert alert-danger alert-dismissible show fade">
            <div class="alert-title">Atenção!!</div>
            <button class="close" data-dismiss="alert"><span>×</span></button>
            <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <%end%>
          <div class="form-row">
            <div class="form-group col-md-5">
              <%= form.label :name, for:"inputName4"%>
              <%= form.text_field :name, id:"inputName4", class:"form-control", placeholder:"nome completo"%>
            </div>
            <div class="form-group col-md-3">
              <%= form.label :document, for:"inputIdentif4"%>
              <%= form.text_field :document, id:"inputIdentif4", class:"form-control", placeholder:"nº identificação"%>
            </div>
            <div class="form-group col-md-3">
              <%= form.label :role, for:"inputRole" %>
              <div>
                <%= form.collection_select(:role, options_for_roles, :id, :description, {prompt:'Selecione..'}, class:"form-control")%>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.label :email, for:"inputEmail"%>
              <%= form.email_field :email, id:"inputEmail", class:"form-control" %>
            </div>
            <div class="form-group col-md-3">
              <%= form.label :status, for:"inputStatus" %>
              <div>
                <%= form.collection_select(:status, options_for_status, :id, :description, {prompt:'Selecione..'}, class:"form-control")%>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.label :password, for:"inputSenha"%>
              <%= form.password_field :password, id:"inputSenha", class:"form-control"%>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :password_confirmation, for:"inputConfirm"%>
              <%= form.password_field :password_confirmation, id:"inputConfirm", class:"form-control"%>
            </div>
          </div>
        <div class="form-group">
          <%= form.label :notes, for:"inputObserva"%>
          <%= form.text_area :notes, id:"inputObserva", class:"form-control", placeholder:"Insira sua Observação."%>
        </div>
        <div class="form-group">
          <%= form.submit class:"btn btn-primary" %>
          <%= link_to users_path, class:"btn btn-icon icon-left btn-light" do %>
            <i class="fas fa-undo-alt"></i> Voltar
          <% end %>
        </div>
      <% end %>
    </div>
</div>
