<p id="notice"><%= notice %></p>

<p>
  <strong>Shift:</strong>
  <%= @daily_hour.shift %>
</p>

<p>
  <strong>Description:</strong>
  <%= @daily_hour.description %>
</p>

<%= link_to 'Edit', edit_daily_hour_path(@daily_hour) %> |
<%= link_to 'Back', daily_hours_path %>
