 <div class="card">
   <div class="card-body"> 
      <%= form_with(model: parking, local: true) do |form| %>
        <% if parking.errors.any? %>
          <div class="alert alert-danger alert-dismissible show fade">
            <div class="alert-title">Atenção!!</div>
                <button class="close" data-dismiss="alert"><span>×</span></button>
                <ul>
                    <% parking.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="form-row">
          <div class="form-group col-md-3">
            <%= form.label :adhesive, for:"inputAdhes"%>
            <%= form.number_field :adhesive, id:"inputAdhes", class:"form-control" , placeholder:"Nº Adesivo"%>
          </div>
          <div class="form-group col-md-8">
              <%= form.label :colaborattor_id, for:"inputColaborattor" %>
            <div>
              <%= form.select("colaborattor_id", @colaborattors_options, {include_blank: "Selecione.."}, class:"form-control") %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <%= form.label :sei, for:"inputSei"%>
            <%= form.text_field :sei, id:"inputSei", class:"form-control" , placeholder:"Nº do SEI"%>
          </div>
          <div class="form-group col-md-3">
            <%= form.label :status, for:"inputStatus" %>
            <div>
              <%= form.collection_select(:status, options_for_status, :id, :description, {prompt:'Selecione..'}, class:"form-control")%>
            </div>
          </div>
          <div class="form-group col-md-3">
            <%= form.label :stickerreceipt, for:"inputSticker"%>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-calendar"></i>
                </div>
              </div>
            <%= form.date_field :stickerreceipt, id:"inputSticker", class:"form-control daterange-cus" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <%= form.label :cnh, for:"inputCnh"%>
            <%= form.text_field :cnh, id:"inputCnh", class:"form-control" , placeholder:"Nº CNH"%>
          </div>
          <div class="form-group col-md-2">
            <%= form.label :vehicle, for:"inputVehicle"%>
            <%= form.text_field :vehicle, id:"inputVehicle", class:"form-control" , placeholder:"Ex: Toyota"%>
          </div>
          <div class="form-group col-md-2">
            <%= form.label :board, for:"inputBoard"%>
            <%= form.text_field :board, id:"inputBoard", class:"form-control" , placeholder:"Ex.: XXX-XXXX"%>
          </div>
          <div class="form-group col-md-2">
            <%= form.label :color, for:"inputColor"%>
            <%= form.text_field :color, id:"inputColor", class:"form-control" , placeholder:"Cor do Veículo"%>
          </div>
          <div class="form-group col-md-2">
            <%= form.label :modelcar, for:"inputModel"%>
            <%= form.text_field :modelcar, id:"inputModel", class:"form-control" , placeholder:"Ex.: Hillux"%>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-11">
            <%= form.label :note, for:"inputNote"%>
            <%= form.text_area :note, id:"inputNote", class:"form-control" , placeholder:"Observação"%>
          </div>
        </div>
        <div class="form-group">
          <%= form.submit class:"btn btn-primary" %>
          <%= link_to parkings_path, class:"btn btn-icon icon-left btn-light" do %>
            <i class="fas fa-undo-alt"></i> Voltar
          <% end %>
        </div>
      <% end %>
 </div>
</div>
