<section class="section">
    <div class="section-header">
        <h1>Valores</h1>        
    </div>  
</section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <%= link_to new_financial_path, class:"btn btn-icon icon-left btn-success" do %>
                  <i class="fas fa-plus"></i> Novo Horário
          <% end %>
          <h4></h4>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"><%= @financials.human_attribute_name(:id)%></th>
                  <th scope="col"><%= @financials.human_attribute_name(:hourvalue)%></th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <% @financials.each do |financial| %>
                  <tr>
                    <td><%= financial.id %></td>
                    <td><%= financial.hourvalue %></td>
                    <td><%= link_to edit_financial_path(financial), class:"btn btn-icon btn-primary" do %>
                      <i class="far fa-edit"></i>
                    <% end %>
                    <%= link_to financial, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-icon btn-danger" do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          
          <div class="container pagination justify-content-center" >
            <%= paginate @financials, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
          </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>