<section class="section">
    <div class="section-header">
        <h1>Vínculos</h1>        
    </div>  
</section>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <%= link_to new_bond_path, class:"btn btn-icon icon-left btn-success" do %>
              <i class="fas fa-plus"></i> Novo Vínculo
      <% end %>
      <h4></h4>
        <div class="card-header-form">
          <%= form_with(url: search_path, local: true, method: :get) do |form| %>
            <div class="input-group">
            <%= form.text_field :term, class:"form-control", placeholder:"Search" %>
              <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"><%= @bonds.human_attribute_name(:id)%></th>
                <th scope="col"><%= @bonds.human_attribute_name(:company)%></th>
                <th scope="col"><%= @bonds.human_attribute_name(:admission)%></th>
                <th scope="col"><%= @bonds.human_attribute_name(:description)%></th>
                <th scope="col"><%= @bonds.human_attribute_name(:responsible)%></th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
              <% @bonds.each do |bond| %>
                <tr>
                  <td><%= bond.id %></td>
                  <td><%= bond.company %></td>
                  <td><%= bond.admission %></td>
                  <td><%= bond.description %></td>
                  <td><%= bond.responsible %></td>
                  <td><%= link_to edit_bond_path(bond), class:"btn btn-icon btn-primary" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to bond, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-action trigger--fire-modal-1" do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="container pagination justify-content-center" >
            <%= paginate @bonds, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>