<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @bond.company %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @bond.admission %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bond.description %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @bond.responsible %>
</p>

<%= link_to 'Edit', edit_bond_path(@bond) %> |
<%= link_to 'Back', bonds_path %>
