<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>HSE | RH</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'welcome' %>
    
    <%= favicon_link_tag asset_path('hse.ico')%>
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <%= image_tag 'avatar-1.png', alt:"image", class:"rounded-circle mr-1" %>
            <div class="d-sm-none d-lg-inline-block">Olá, <%= current_user.name %></div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">Sessão ativa</div>
              <%= link_to profile_path, class:"dropdown-item has-icon" do%>
                <i class="far fa-user"></i> Perfil
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, class:"dropdown-item has-icon text-danger", method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                Sair
              <% end %>
            </div>
          </li>
        </ul>
      </nav>
      
      <div class="main-sidebar" style="overflow: hidden; outline: currentcolor none medium;" tabindex="1">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
          <%= image_tag 'logo.png', alt:"logo", width:"150", height:"53", class:"shadow-light" %>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <%= link_to 'RH', welcome_index_path %>
          </div>
          
            <ul class="sidebar-menu">
              <li class="menu-header">Dashboard</li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span> Dashboard</span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Dashboard', graphics_index_path %></li> 
                </ul>
              </li>
              <li class="menu-header">Home</li>
              <li>
                <%= link_to welcome_index_path, class:"nav-link" do %>
                  <i class="fas fa-home"></i>
                  <span>&nbsp Inicio</span>
                <% end %>
              </li>
              <li class="menu-header">Recursos Humanos</li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-users"></i> <span>&nbsp Quadro Funcional</span></a>
                <ul class="dropdown-menu" style="display: none;">
                    <li>
                      <%= link_to 'Colaboradores', colaborattors_path, class:"nav-link" %>
                     </li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-car"></i> <span>&nbsp Estacionamento</span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to 'Adesivos', parkings_path, class:"nav-link" %>
                    </li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-clipboard-list"></i> <span> &nbsp Atribuições</span></a>
                <ul class="dropdown-menu" style="display: none;">
                  <li>
                    <%= link_to 'Setores', sectors_path, class:"nav-link" %>
                  </li>
                  <li>
                    <%= link_to 'Horários', daily_hours_path, class:"nav-link" %>
                  </li>
                  <li>
                    <%= link_to 'Cargos', offices_path, class:"nav-link" %>
                  </li>
                  <li>
                    <%= link_to 'Vinculos', bonds_path, class:"nav-link"  %>
                  </li>
                  <li>
                    <%= link_to 'Escalas', schedules_path, class:"nav-link" %>
                  </li>
                  <li>
                    <%= link_to 'Funções', functions_path, class:"nav-link" %>
                  </li>
                  <li>
                    <%= link_to 'Valores', financials_path, class:"nav-link" %>
                  </li>
                </ul>
              </li>
              <li class="menu-header">Administração</li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>&nbsp Gerenciar</span></a>
                  <ul class="dropdown-menu">
                    <li>
                        <%= link_to 'Usuários', users_path, class:"beep beep-sidebar"  %>
                    </li>
                  </ul>
              </li>
            </ul>     
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
          
           <%= yield %>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2020 <div class="bullet"></div> Design By Italo David
        </div>
        <div class="footer-right">
          1.0.0
        </div>
      </footer>
    </div>
  </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'welcome' %>
      
    <% if notice %>
        <%= javascript_tag do %>
            $.bootstrapGrowl('<%= notice %>', {
            type: 'success', // (null, 'info', 'danger', 'success')
            align: 'right', // ('left', 'right', or 'center')
            allow_dismiss: true, // If true then will display a cross to close the popup.
            stackup_spacing: 10 // spacing between consecutively stacked growls.
            });
        <% end %>
    <% end %>
 
  <!-- Page Specific JS File -->
</body>
</html>
